body {
    background-color: black;
    font-family: "Arial Black";
}

.container.form{
    margin: 20px 250px 25px 20px;
    padding: 20px;
    width: 35%;
}

.form-control{
    min-width:170px;
    width:60%;
}
.formPara{
    margin-top:10px;
    color: #f9f9f9;
}

.container-fluid.weapon {

    margin: 20px 250px 30px 250px;
    padding: 20px;
    color:black;
    border-radius: 10px;

}

.container-fluid.border{
    border: 3px solid #B22222;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: floralwhite;
    min-width: 100px;
}

.weaponName{
    white-space: nowrap;
    position: absolute;
}

h1{
    color:white;
}

h3{
    color: #e2e2e2;
    background-color: #0f0b28;

}

label{
    color: #f9f9f9;
}


.container-fluid.border.finished{
    border-color: #d0d0d0;
    background-color: #e0e0e0;
    opacity: 0.5;
}
.container-fluid.border.following{
    border-color:red;
}

.container-fluid.border.active{
    border-color:green;
    background-color: palegreen;

}