<!--Bei klick auf eine der Routen wird resetWeapons() aufgerufen, sodass keine "alten" Werte erhalten bleiben
"random" ist noch nicht bearbeitet-->
<ul class="nav nav-pills" ng-click="gg.resetWeapons()">
    <li>
        <a href="#!/gungame">Normal</a></li>
    <li>
        <a href="#!/reversed">Reversed</a></li>
    <li>
        <a href="#!/random">Random</a></li>
</ul>
<!-- Sehr einfaches Formular für Nutzer Anmeldung. Rausgenommen, da es noch keine Funktion hat.-->
<!--
<div class="container form">
    <div class="form-group">
        <label for="usr">Username:</label>
        <div class="row">
            <input type="text" class="form-control col-sm-8" id="usr">
            <button type="button" class="btn col-sm-4">Submit</button>
        </div>
        <p class="formPara">Trage hier deinen Nutzernamen ein um deine Statistik zu erfassen und zu speichern.</p>
    </div>
</div>
-->
<!-- Der Reset Knopf setzt den gesamten Fortschritt im jetzigen Durchlauf zurück-->
<button ng-click="gg.resetWeapons()" class="btn">Reset</button>
<!--"Normales" Gungame. Läuft durch Waffen-Objektarray und gibt durch farbliche Untermalung die erledigten, aktuelle und
folgenden Waffen an. Dabei wird auf den Wert "state" zurückgegriffen der bei Klick aktualisiert wird. Die Bilder haben
eine minimal Größe, sodass man sie immer erkennen kann, bei ganz kleinen Bildschirmen kann es deshalb zu einer leichten
Überlappung kommen. Es werden zwei Knöpfe um zur nächsten Waffe zu kommen angeboten, beide haben die gleiche Funktion.
Das wurde gemacht um bei großen Bildschirmen umständliches Scrollen zu verhindern-->
<div ng-if="gg.format === 'gungame'">
    <h1>Gun Game</h1>
    <div class="container-fluid weapon">
        <button ng-click="gg.nextWeapon()" class="btn">Next Weapon</button>
        <div class="row">
            <div class="col-sm-4 col-md-2 col-xs-6" ng-repeat="weapon in gg.weapons">
                <div class="container-fluid border"
                     ng-class="{'active': weapon.state === 'active', 'finished': weapon.state === 'finished', 'following': weapon.state === 'following'}">
                    <h4 class="weaponName">{{weapon.name}}</h4>
                    <img ng-src="{{weapon.icon}}" class="img-responsive">
                    <!--{{gg.getActiveWeapon(gg.weapons)}}-->
                </div>
                <!--                <p>{{weapon.price | currency}}</p>-->
            </div>
        </div>
        <button ng-click="gg.nextWeapon()" class="btn">Next Weapon</button>
    </div>
</div>

<!--Umgekehrtes Gungame. Das Array wird hier mit Hilfe eines Filters von hinten nach vorne durchlaufen. Dabei bleiben
 Zeus und Messer, mit Hilfe iner Funktion, an den letzten beiden Position-->
<div ng-if="gg.format === 'reversed'" ng-init="gg.setWeaponOrderReverse()">
    <h1>Gun Game in umgekehrter Reihenfolge</h1>
    <div class="container-fluid weapon">
        <button ng-click="gg.nextWeaponReversed()" class="btn">Next Weapon</button>
        <div class="row">
            <div class="col-sm-4 col-md-2 col-xs-6"
                 ng-repeat="weapon in gg.weaponsReverse | orderBy:'+':true track by $index">
                <div class="container-fluid border"
                     ng-class="{'active': weapon.state === 'active', 'finished': weapon.state === 'finished', 'following': weapon.state === 'following'}">
                    <h4 class="weaponName">{{weapon.name}}</h4>
                    <img ng-src="{{weapon.icon}}" class="img-responsive">
                    <!--<p>{{weapon.id}}</p>-->
                </div>
                <!--                <p>{{weapon.price | currency}}</p>-->
            </div>
        </div>
        <button ng-click="gg.nextWeaponReversed()" class="btn">Next Weapon</button>
    </div>

</div>

<!-- ToDo:Zufall -->
<div ng-if="gg.format === 'random'">
    <h1>Zufall</h1>
</div>

<!-- Gibt die gespeicherten Werte aus, kann noch erweitert werden (z.B. mit getActiveWeapon()) aber dafür hat mir die
Zeit nicht mehr gereicht. Außerdem aktualisiert der Container-Block nicht wie er sollte. Um neue Werte zu erhalten muss
 die Seite aktualisiert werden. ToDo:Erweitern, aktualisierung anpassen-->

<h3 ng-init=""ng-click="gg.toggleShow()">Zeige Statistik (klick mich ☺)</h3>
<div class="container-fluid" ng-show="gg.isVisible">
    <div class="jumbotron">
        <p>Anzahl an erfolgreich durchgespielten "Gun Games": {{gg.timesFinished}}</p>
        <p>Dauer der einzelnen Durchläufe:</p>
        <div ng-repeat="duration in gg.playThroughTime">
            <p>{{$index+1}}. Durchspielzeit: {{duration | millSecConverter}}</p>
        </div>
    </div>
</div>
